body{
    font-family:Poppins;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
/* header */
.nav1{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: black;
    color: white;
    padding: 5px;
}
.nav2{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.text1{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap ;
    width: 30%;
    
}
.icon{
    display:flex;
    justify-content:space-evenly;
    width: 10%;
}

/* second part */
.text2{
    background-color: #4d4d4d;
    display: flex;
    flex-direction:column;
    min-height: 400px;
    justify-content:space-evenly;
    align-content: space-evenly;
    align-items: center;
}
.t1{
    background-color: black;
    width: 200px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.t2 b{
    font-size: 60px;
    color: white;
}
.t4{
    background-color: black;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.review{
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
    min-height: 300px;
    background-color:#4d4d4d;
    flex-wrap: wrap;
}
.div1{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.div1:hover{
    border: 2px solid black;
    box-shadow: 1px 1px 10px white, 0 0 10px white, 0 0 10px white;
}
.span1{
    font-size: 30px;
}
.shoplist{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
}
.ls{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.sl0{
    background-color: black;
    width: 200px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.up{
    padding:5px;
    border: 2px solid black;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    transition: transform 0.2s;
}
.up1{
    display: block;
}
.up:hover{
    transform: scale(1.05);
    border: 2px solid black;
    box-shadow: 1px 1px 5px black, 0 0 5px black, 0 0 5px black;
}


.pro{
    display: flex;
    justify-content: space-evenly;
}
#about{

    width: 100%;
    font-size: larger ;
    min-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* start of footer */

.footer{
    background-color: #4d4d4d;
}
.input input{
    padding: 10px;
    width: 200px;
}
.type{
    display: flex;
    justify-content: space-between
    
}
.total{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.in{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 130px;
}
.in h4,ins{
    color:black;
    font-size: 14px;
}
.subscribe{
    padding: 10px;
    color: black;
    border: 1px solid black;
    display: inline-block;
}
.out{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
hr{
    opacity: 0.6;
}
.ed{
    display: flex;
    justify-content: space-between;
}
.end{
    display: flex;
    width: 500px;
    justify-content: space-evenly;    

}
.end a{
    
    text-decoration: none;
    color: black;
}
/* 
end of footer */